// General styles


// Desktop
@media screen and (min-width: 992px) {
    .header{
        background-image: url("./../../Assets/holidaze_HeaderImage.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 40em;
        max-height: 70vh;
        &-text{
            color: white;
            text-align: center;
            padding-top: 4em;
            margin-top: 0;
            font-size: 50px;
        }
        &-search{
            &-input{
                padding: 15px 20px 15px 20px;
                border: 1px solid transparent;
                border-radius: 2em 0 0 2em ;
                &:focus{
                    border-radius: 0;
                }
            }

            &-btn{
                padding: 15px 20px 15px 20px;
                border: 1px solid transparent;
                border-radius: 0 2em 2em 0 ;
                background-color: $btn-bg;
                color: $white;
                &-icon{
                    margin-left: 10px;
                }
                &:hover{
                    background-color: $btn-bg-hover;
                    cursor: pointer;
                }
            }
            &-dropdown{
                background-color: $white;
                margin-left: 25%;
                &-ul{
                    margin: 0;
                    list-style-type: none;
                }
            }
        }
    }
    .promotion{
        position: absolute;
        top: 35em;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        &-box{
            box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            &-text{
                padding: 0px 15px 15px 15px;
            }
        }
    }
    .winterholiday{
        margin-top: 30em;
        background-color: $blue;
        &-img{
            margin-top: 2em;
            margin-bottom: 2em;
        }
        &-box{
            margin-left: 10em;
            margin-top: 7.5em;
            &-p{
                font-size: 18px;
                line-height: 1.5;
                margin-bottom: 5em;
            }
        }
    }
}

// Tablet
@media screen and (max-width: 991px) {

}
// MOBILE DEVICES
@media screen and (max-width: 768px) {

}
