@import url('https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre&display=swap');

body{
    background-color: $bg-color;
    margin: 0;
    box-sizing: border-box;
}
ul{
    padding: 0;
}
h1{
    font-family: "Proza Libre";
}
h2{
    font-family: "Proza Libre";
    font-size: 30px;
}
h3{
    font-family: "Proza Libre";
    font-size: 25px;
}

p{
    font-family: "Open Sans";
}
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ PLACEMENT STYLES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.m-auto{
    margin: auto;
}
.m-0{
    margin: 0;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}


// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FLEX STYLES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.d-flex{
    display: flex;
}
.jc-between{
    justify-content: space-between;
}
.jc-center{
    justify-content: center;
}


// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ COLOR STYLES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.white{
    color: $white;
}
.orange{
    color: $icon-orange;
}

// Desktop
@media screen and (min-width: 992px) {

}

// Tablet
@media screen and (max-width: 991px) {

}
// MOBILE DEVICES
@media screen and (max-width: 768px) {

}
