@import url('https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre&display=swap');

body{
    background-color: $bg-color;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Proza Libre";
}
h2{
    font-family: "Proza Libre";
    font-size: 30px;
}

p{
    font-family: "Open Sans";
}
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ PLACEMENT STYLES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.m-auto{
    margin: auto;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FLEX STYLES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.d-flex{
    display: flex;
}
.jc-between{
    justify-content: space-between;
}


// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ COLOR STYLES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.white{
    color: $white;
}


// Desktop
@media screen and (min-width: 992px) {

}

// Tablet
@media screen and (max-width: 991px) {

}
// MOBILE DEVICES
@media screen and (max-width: 768px) {

}
