@import url('https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre&display=swap');

body{
    background-color: $bg-color;
    margin: 0;
    box-sizing: border-box;
}
ul{
    padding: 0;
}
h1{
    font-family: "Proza Libre";
}
h2{
    font-family: "Proza Libre";
    font-size: 30px;
    margin-top: 0;
}
h3{
    font-family: "Proza Libre";
    font-size: 25px;
    margin-top: 0;
}

p{
    font-family: "Open Sans";
}
a{
    color: $black;
}
input{
    background-color: $lightgray;
}
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ PLACEMENT STYLES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.m-auto{
    margin: auto;
}
.m-0{
    margin: 0;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}

.text-center{
    text-align: center;
}
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FLEX STYLES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.jc-between{
    justify-content: space-between;
}
.jc-center{
    justify-content: center;
}
.jc-end{
    justify-content: flex-end;
}


// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ COLOR STYLES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.white{
    color: $white;
}
.orange{
    color: $icon-orange;
}


// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ ICON STYLES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.fa-h-square{
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
    color: $icon-gray;
}

.icon-grey{
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    color: $icon-gray;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MESSAGE STYLES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.errorMessage{
    color: red;
}


// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ OTHER STYLES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.container{
    margin-top: 10em;
}
.copyright{
    color: $white;
    padding-bottom: 2em;
    text-align: center;
}
.largeBox{
    background-color: $admin-blue;
    color: $white;

    &-text{
        padding-top: 3em;
        padding-bottom: 3em;
        color: $white;
        text-align: center;
    }
    &-container{
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
}
// Desktop
@media screen and (min-width: 992px) {

}

// Tablet
@media screen and (max-width: 991px) {

}
// MOBILE DEVICES
@media screen and (max-width: 768px) {

}
